/*---------- Variables ---------*/
:root {
  --terminalGreen: #39ff14;
  --offGray: #818181;
  --offBlack: #262626;
}
/*---------- All ---------*/
* {
  margin: 0;
  top: 0;
  left: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
}

::selection {
  color: var(--terminalGreen);
  background-color: black;
}

/*---------- Headings ---------*/
h1 {
  color: black;
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
  display: inline-block;
}

h2 {
  color: black;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
}

h3 {
  color: black;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
  display: inline-block;
}

h4 {
  color: black;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
  display: inline-block;
}

p {
  color: black;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
  display: inline-block;
}

blockquote {
  color: black;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
  display: inline-block;
}

/*---------- Body ---------*/
body {
  background-color: white;
  background-image: url("../img/background/spikes.png");
}

/*---------- Header ---------*/
header {
  width: 100%;
  height: 5vh;
  margin: auto;
  background-color: black;
}

/*---------- Footer ---------*/
footer {
  width: 100%;
  height: 100px;
  background-color: black;
  position: inherit;
  bottom: 0;
}
/*---------- Nav ---------*/
nav {
  text-align: right;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 5vh;
  width: 100%;
  background-color: black;
  overflow: hidden;
  padding-right: 2%;
}

nav a {
  display: inline-flex;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  color: var(--terminalGreen);
  cursor: pointer;
}

nav a.active {
  color: var(--terminalGreen);
  text-decoration: none;
}

/*---------- Logo ----------*/
.logo {
  background-image: url("/img/logos/Self Regulator White.png");
  background-repeat: no-repeat;
  height: 5vh; /*50px*/
  width: 40vw; /*400px*/
  position: fixed;
  top: 0;
  left: 0.5vw;
  cursor: pointer;
}

.logo:hover {
  background-image: url("/img/logos/Self Regulator Green.png");
}

/*---------- Main ----------*/
main {
  height: 100vh;
  width: 100vw;
}

/*---------- Main Container ----------*/
.mainContainer {
  background-color: white;
  margin: 5vh auto;
  border-radius: 5px;
  height: auto;
  width: 75vw;
  padding: 2%;
  border: 1px solid;
  box-shadow: 5px 10px 8px 10px var(--offGray);
}

/*---------- Course Container ----------*/
.courseContainer {
  background-color: white;
  margin: 5vh 20vw;
  border-radius: 5px;
  height: auto;
  width: 75vw;
  padding: 2%;
  border: 1px solid;
  box-shadow: 5px 10px 8px 10px var(--offGray);
}

/*---------- Sidebar ---------*/
/* The sidebar menu */
.sidebar {
  height: 100%;
  width: 15vw;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 10vh;
}

.sidebar a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidebar a:hover,
.dropdown-btn:hover {
  color: var(--terminalGreen);
}

.dropdown-btn.active {
  background-color: var(--terminalGreen);
  color: black;
}

.sidebar .dropdown-container {
  display: none;
  background-color: var(--offBlack);
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/*---------- Registration Form ----------*/
.registrationForm legend {
  color: black;
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 23px;
  display: inline-block;
}

.registrationForm input[type="text"],
select,
textarea {
  /*select*/
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /*textarea*/
  transition: all 0.3s ease-in-out;
  outline: none;
  border: 1px solid #dddddd;
}

.registrationForm input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 5px var(--offBlack);
  border: 1px solid var(--offBlack);
}

.registrationForm input[type="submit"] {
  width: 100%;
  background-color: black;
  color: var(--terminalGreen);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.registrationForm input[type="submit"]:hover {
  color: black;
  background-color: var(--terminalGreen);
}

.registrationForm label {
  font-weight: bold;
}
/*---------- Grid ----------*/
.grid {
  margin: 0 auto;
  width: 60%;
  display: grid;
  grid-template:
    "a" 75px
    "a" 75px / 100%;
  column-gap: 1px;
}

ul {
  list-style-type: none;
}

/*---------- Task ----------*/
.taskName {
  display: inline-flex;
  font-size: 23px;
  font-weight: 800;
  color: black;
}

/*---------- Box ----------*/

.box {
  background-color: beige;
  display: inline-flex;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 3px;
  margin: 5px 5px 5px 5px;
}

.box:hover {
  background-color: var(--terminalGreen);
  cursor: pointer;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
